@inject SignInManager<OgrenciUser> signInManager;

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hoca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Ogrenci" asp-action="Index">Hoca</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Ogrenci" asp-action="Index">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-route-OgrenciId="@signInManager.UserManager.GetUserId(User)" asp-controller="Sorular" asp-action="Olustur">Soru Sor</a>
                        </li>
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Ogretmen"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Sorular" asp-action="Index">Tüm Sorular</a>
                            </li>
                        }

                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Panel</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Administration" asp-action="ListRoles">
                                        Roller
                                    </a>
                                    <a class="dropdown-item" asp-controller="Administration" asp-action="KullanicilariListele">
                                        Kullanıcılar
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ayarlar</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Hesap" asp-action="ParolayiDegistir">
                                        Şifre Değiştir
                                    </a>
                                    <a class="dropdown-item" asp-controller="Hesap" asp-route-id="@signInManager.UserManager.GetUserId(User)" asp-action="EmailDegistir">
                                        Mail Değiştir
                                    </a>
                                    <a class="dropdown-item" asp-controller="Hesap" asp-route-id="@signInManager.UserManager.GetUserId(User)" asp-action="ProfilimiGoster">
                                        Profil
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-action="Cikis" asp-controller="Hesap">
                                    <button type="submit" class="nav-link btn btn-link">
                                        Çıkış @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Hesap" asp-action="KayitOl">Kayıt Ol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Hesap" asp-action="Giris">Giriş Yap</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Hoca - <a asp-area="" asp-controller="Ogrenci" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
